
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-container form
{
  width: 100%;
  margin: 0 auto;
}


.form-group
{
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

#submit-btn
{
  margin: 10px 0;
  width: 100%;
}
