.example-spacer {
  flex: 1 1 auto;
}

.back-container
{
  height: 30px;
  margin-bottom: 20px;
}
.back-container button
{
  float: right;
  height: 100%;
  cursor: pointer;
}
.back-container button span
{
  color: darkblue;
}


.example-sidenav-content {
  min-height: 100vh;
  height: 100%;
}

.example-sidenav {
  min-width: 230px;
  padding: 20px;
  max-height: 100vh;
  position: fixed;
}

.example-sidenav > div
{
  display: flex;
  flex-direction: row;
}

.mat-drawer-inner-container
{
  font-size: 30px;
}



.action-btn-container > button
{
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
}


.inner-main-container
{
  padding: 30px;
}

mat-icon
{
  cursor: pointer;
}


fa-icon
{
  font-size: 30px;
}


