

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <div style="display: flex; flex-direction: column; height: 100%;">
      <div style="flex-grow: 1">
        <div class="back-container">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <button (click)="drawer.toggle()">
            <span>Назад</span>
          </button>
        </div>
        <hr>
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngFor="let item of menuList" routerLink="{{item.url}}"
                           [ngStyle]="{'display': (item.vsCond == undefined ? 'block' : loggedIn === !item.vsCond ? 'block' : 'none')}">
            {{item.name}}
          </mat-list-option>
        </mat-selection-list>
        <hr>
      </div>
      <div style="display: flex; flex-direction: column;">
        <h3 align="center">Actions</h3>
        <div class="action-btn-container">
          <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
          Refresh &nbsp; <fa-icon [spin]="true" [icon]="['fas', 'circle-notch']"></fa-icon>

          <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
          <fa-icon [icon]="['fas', 'air-freshener']"></fa-icon>
          <button class="menu-button" (click)="click()">Show</button>
          <button class="menu-button" (click)="logout()" *ngIf="loggedIn">Logout</button>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="user">{{user.name}}</span>
      <span class="example-spacer"></span>
<!--      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
      <mat-icon (click)="logout();">exit_to_app</mat-icon>
    </mat-toolbar>




<!--    <nav class="navbar navbar-dark bg-dark px-3 mb-4">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" routerLink="/">Home</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="navbar-nav">-->
<!--        <div class="d-flex">-->
<!--          <a class="nav-link mx-2" routerLink="/login" *ngIf="!loggedIn">Login</a>-->
<!--          <a class="nav-link mx-2" routerLink="/" *ngIf="loggedIn" (click)="logout()">Logout</a>-->
<!--          <a class="nav-link mx-2" routerLink="/register" *ngIf="!loggedIn">Registration</a>-->
<!--          <a class="nav-link mx-2" routerLink="/dashboard" *ngIf="loggedIn">Dashboard</a>-->
<!--          <button  mat-stroked-button *ngIf="loggedIn" (click)="password_forgot()">Password Foreget</button>-->


<!--          <button (click)="click()">Show</button>-->
<!--          <button (click)="refresh_token()">Refresh</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->

    <div class="container">
      <div class="inner-main-container">
        <router-outlet></router-outlet>
      </div>
    </div>



  </div>

</mat-drawer-container>



<notifier-container style="z-index: 100;"></notifier-container>












<!--<section>-->
<!--  <div class="example-label">Basic</div>-->
<!--  <div class="example-button-row">-->
<!--    <button mat-button>Basic</button>-->
<!--    <button mat-button color="primary">Primary</button>-->
<!--    <button mat-button color="accent">Accent</button>-->
<!--    <button mat-button color="warn">Warn</button>-->
<!--    <button mat-button disabled>Disabled</button>-->
<!--    <a mat-button href="https://www.google.com/" target="_blank">Link</a>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">Raised</div>-->
<!--  <div class="example-button-row">-->
<!--    <button mat-raised-button>Basic</button>-->
<!--    <button mat-raised-button color="primary">Primary</button>-->
<!--    <button mat-raised-button color="accent">Accent</button>-->
<!--    <button mat-raised-button color="warn">Warn</button>-->
<!--    <button mat-raised-button disabled>Disabled</button>-->
<!--    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">Stroked</div>-->
<!--  <div class="example-button-row">-->
<!--    <button mat-stroked-button>Basic</button>-->
<!--    <button mat-stroked-button color="primary">Primary</button>-->
<!--    <button mat-stroked-button color="accent">Accent</button>-->
<!--    <button mat-stroked-button color="warn">Warn</button>-->
<!--    <button mat-stroked-button disabled>Disabled</button>-->
<!--    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">Flat</div>-->
<!--  <div class="example-button-row">-->
<!--    <button mat-flat-button>Basic</button>-->
<!--    <button mat-flat-button color="primary">Primary</button>-->
<!--    <button mat-flat-button color="accent">Accent</button>-->
<!--    <button mat-flat-button color="warn">Warn</button>-->
<!--    <button mat-flat-button disabled>Disabled</button>-->
<!--    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">Icon</div>-->
<!--  <div class="example-button-row">-->
<!--    <div class="example-flex-container">-->
<!--      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">-->
<!--        <mat-icon>more_vert</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">-->
<!--        <mat-icon>home</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">-->
<!--        <mat-icon>open_in_new</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">FAB</div>-->
<!--  <div class="example-button-row">-->
<!--    <div class="example-flex-container">-->
<!--      <div class="example-button-container">-->
<!--        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">-->
<!--          <mat-icon>bookmark</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-fab color="warn" aria-label="Example icon button with a home icon">-->
<!--          <mat-icon>home</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-fab disabled aria-label="Example icon button with a heart icon">-->
<!--          <mat-icon>favorite</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->
<!--<section>-->
<!--  <div class="example-label">Mini FAB</div>-->
<!--  <div class="example-button-row">-->
<!--    <div class="example-flex-container">-->
<!--      <div class="example-button-container">-->
<!--        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">-->
<!--          <mat-icon>menu</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">-->
<!--          <mat-icon>plus_one</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">-->
<!--          <mat-icon>filter_list</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="example-button-container">-->
<!--        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">-->
<!--          <mat-icon>home</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
