
<h1 align="center">Dashboard</h1>


<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Склад">
    <app-warehouse></app-warehouse>
  </mat-tab>
  <mat-tab label="Рабочие">
    <app-workers></app-workers>
  </mat-tab>
</mat-tab-group>

<div style="margin-top: 200px;">
  <button (click)="save()">save</button>

  <div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </div>


  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
              (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>
